/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
  background-color: #F2EBEC;
}
.flex {
  display: flex;
}
.headingFont {
  font-family: 'Pacifico', cursive;
}
.middle-circles {
  padding: 4rem;
  border-radius: 50%;
  color: #ffffff;
  margin: 1rem;
  font-weight: bold;
}
.resume-circles {
  padding: 5rem;
  border-radius: 60%;
  color: #ffffff;
  margin: 1rem;
  font-weight: bold;
  background-color: #E83556;
  font-size: 1.5rem;
}
.container {
  width: 100%;
  margin: 2rem auto;
}
header {
  width: 80%;
  display: flex;
  justify-content: center;
}
header .main-header {
  width: 50%;
  margin-left: 9rem;
}
header .main-header h1 {
  font-size: 6rem;
  font-family: 'Pacifico', cursive;
  color: #E83556;
  margin-top: 10px;
}
header .main-header h2 {
  font-size: 2.5rem;
  margin: 2rem;
}
header .navbar {
  width: 50%;
}
header .navbar .nav-links {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
header .navbar .nav-links .nav-item {
  font-size: 2rem;
  text-decoration: none;
  color: #4D4D4D;
}
header .navbar .nav-links .nav-item:hover {
  color: #61D0D4;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}
main .self-portrait img {
  width: 30rem;
  border-radius: 50%;
}
main .biography {
  margin: 3rem;
}
main .biography h2 {
  font-size: 8.5rem;
  color: #4D4D4D;
}
main .biography h3 {
  font-size: 5rem;
  color: #4D4D4D;
}
main .biography .links {
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
  margin-top: 2rem;
}
main .biography .links #resume {
  background-color: #E83556;
  padding: 4rem;
  border-radius: 50%;
  color: #ffffff;
  margin: 1rem;
  font-weight: bold;
}
main .biography .links #work {
  background-color: #61D0D4;
  padding: 4rem;
  border-radius: 50%;
  color: #ffffff;
  margin: 1rem;
  font-weight: bold;
}
main .biography .links #skills {
  background-color: #D1C926;
  padding: 4rem;
  border-radius: 50%;
  color: #ffffff;
  margin: 1rem;
  font-weight: bold;
}
section {
  display: flex;
}
section .resume {
  width: 80%;
}
section .resume .title h2 {
  font-size: 6rem;
  color: #4D4D4D;
}
section .resume .professional-info {
  display: flex;
}
section .resume .professional-info .info-title {
  padding: 5rem;
  border-radius: 60%;
  color: #ffffff;
  margin: 1rem;
  font-weight: bold;
  background-color: #E83556;
  font-size: 1.5rem;
}
footer {
  background-color: #E83556;
  color: #F2EBEC;
  padding: 3rem;
  margin: 7rem 0 0 0;
  bottom: 0;
}
footer .footer-info {
  display: flex;
  justify-content: space-around;
  font-size: 1.8rem;
}
footer .footer-info .icon {
  display: flex;
  font-size: 2.5rem;
  justify-content: space-between;
  margin: 0.5rem 0 1rem 0;
}
footer .footer-info .icon:hover {
  color: #61D0D4;
}
